<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/history/list.css">

    <title>Daftar History</title>
  </head>
  <body>
    <!-- Header -->
    <header id="header">
      <nav>
        <div class="container">
          <div class="text-center">
            <a href="/" class="nav-brand text-dark">Daftar History</a>
          </div>
        </div>
      </nav>
    </header>

    <!-- Main Site -->
    <main id="site-main">
      <div class="container">
        <div class="box-nav d-flex-justify-between">
          <a href="/history/create" class="btn border-shadow user">
            <span class="text-gradient">New History <i class="fas fa-history"></i></span>
          </a>

          <a href="/users/list" class="btn border-shadow match" id="match">
            <span class="text-gradient">Users Table <i class="fas fa-user"></i></span>
          </a>

          <a href="/match/list" class="btn border-shadow history" id="history">
            <span class="text-gradient">Match Table <i class="fas fa-gamepad"></i></span>
          </a>
        </div>

        <!-- form handling -->
        <form action="/" method="POST">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th>ID</th>
                <th>Player Win ID</th>
                <th>Player Lose ID</th>
                <th>Date</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% histories.forEach(history => { %>
              <tr>
                <td><%= history.id %></td>
                <td><%= history.player_win_id %></td>
                <td><%= history.player_lose_id %></td>
                <td><%= history.date %></td>
                <td>
                  <a href="/history/view/<%= history.id %>" class="btn border-shadow detail">
                    <span class="text-gradient"><i class="fas fa-eye"></i></span>
                  </a>
                  <a href="/history/update/<%= history.id %>" class="btn border-shadow update">
                    <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
                  </a>
                  <a href="/history/delete/<%= history.id %>" class="btn border-shadow delete">
                    <span class="text-gradient"><i class="fas fa-trash-alt"></i></span>
                  </a>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </form>

      </div>
    </main>

  </body>
</html>