<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/history/view.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

    <title>Detail History</title>
</head>
<body>
    <div class="center">
      <div class ="content">
        <div class="header">
          <h2>Detail History</h2>
        </div>
        
          <table>
            <tr>
              <td><strong>ID</strong></td>
              <td><strong>:</strong></td>
              <td><%= histories.id %></td>
            </tr>
            <tr>
              <td><strong>Player Win ID</strong></td>
              <td><strong>:</strong></td>
              <td><%= histories.player_win_id %></td>
            </tr>
            <tr>
              <td><strong>Player Lose ID</strong></td>
              <td><strong>:</strong></td>
              <td><%= histories.player_lose_id %></td>
            </tr>
            <tr>
              <td><strong>Date</strong></td>
              <td><strong>:</strong></td>
              <td><%= histories.date %></td>
            </tr>
            <tr>
              <td><strong>Time</strong></td>
              <td><strong>:</strong></td>
              <td><%= histories.time %></td>
            </tr>
            <tr>
              <td><strong>Score</strong></td>
              <td><strong>:</strong></td>
              <td><%= histories.score %></td>
            </tr>
          </table>

          <div class="line"></div>
          <a href="/history/list"><label for="click" class="close-btn">Kembali ke daftar history</label></a>
        </div>
      </div>
    </div>
</body>
</html>