<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" href="/css/home.css">

    <title>Homepage</title>
  </head>
  <body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">LOGO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            <a class="nav-link active" href="#">HOME<span class="sr-only">(current)</span></a>
            <a class="nav-link" href="#">WORK</a>
            <a class="nav-link" href="#">CONTACT</a>
            <a class="nav-link" href="#">ABOUT ME</a>
          </div>
          <div class="navbar-nav ml-auto">
            <a class="nav-link active" href="#">SIGN UP<span class="sr-only">(current)</span></a>
            <a class="nav-link" href="#">LOGIN</a>
          </div>
        </div>
      </div>
    </nav>

    <!-- Jumbotron -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container-fluid">
        <h1 class="display-4">PLAY TRADITIONAL GAME</h1>
        <p class="lead">Experience new traditional game play</p>
        <a class="btn btn-primary btn-lg" href="/games" role="button">PLAY NOW</a>
        <p class="story">THE STORY</p>
        <div class="scrolldown">
          <span></span>
        </div>
      </div>
    </div>

    <!-- Game Choice -->
    <div class="container-fluid">
      <div class="row gamechoice">
        <div class="col">
          <h3>What’s so special?</h3>
          <h1>THE GAMES</h1>
        </div>
        <div class="col">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/img/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="Gamechoice">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Game Choice 2 -->
    <div class="container-fluid">
      <div class="row gamechoice2">
        <div class="col">
          <h3>What’s so special?</h3>
          <h1>FEATURES</h1>
          <p class="feature1">TRADITIONAL GAMES</p>
          <p class="textfeature1">If you miss your childhood, we provide <br>many traditional games here</p>
          <p class="feature2">GAME SUIT</p>
          <p class="feature3">TBD</p>
          <div class="ellipse1"></div>
          <div class="progressbar"></div>
          <div class="ellipse2"></div>
          <div class="ellipse3"></div>
        </div>
      </div>
    </div>

    <!-- Game Requirements -->
    <div class="container-fluid">
      <div class="row gamerequirements">
        <div class="col">
          <h3>Can My Computer Run this game?</h3>
          <h1>SYSTEM<br>REQUIREMENTS</h1>
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td class="text1">OS:<br><span class="text2">Windows 7 64-bit only<br>(No OSX support at this time)<span></td>
                <td class="text1">PROCESSOR:<br><span class="text2">Intel Core 2 Duo @ 2.4 GHZ or<br>AMD Athlon X2 @ 2.8 GHZ<span></td>
              </tr>
              <tr>
                <td class="text1">MEMORY:<br><span class="text2">4 GB RAM<span></td>
                <td class="text1">Storage:<br><span class="text2">8 GB available space<span></td>
              </tr>
              <tr>
                <td class="text1" colspan="2">GRAPHICS:<br><span class="text2">NVIDIA GeForce GTX 660 2GB or<br>AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)<span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Top Scores -->
    <div class="container-fluid">
      <div class="row topscores">
        <div class="col">
          <h1>TOP SCORES</h1>
          <p class="textscore">This top score from various games provided<br>on this platform</p>
          <a class="base btn-primary btn-lg" href="#" role="button">see more</a>
          <div class="rectangle1">
            <img src="/img/evan.jpg" class="photo" alt="photo">
            <p class="nama">Evan Lathi<br><span class="profesi">PC Gamer</span></p>
            <p class="quotes">"One of my gamming highlights of the year."<br><span class="tanggal">October 18,2018</span></p>
          </div>
          <div class="rectangle2">
            <img src="/img/jada.jpg" class="photo" alt="photo">
            <p class="nama">Jada Griffin<br><span class="profesi">Moderator</span></p>
            <p class="quotes">"The next big thing in the world of streaming<br>and survival games."<br><span class="tanggal">Desember 21,2018</span></p>
          </div>
          <div class="rectangle3">
            <img src="/img/aaron.jpg" class="photo" alt="photo">
            <p class="nama">Aaron Williams<br><span class="profesi">Uproxx</span></p>
            <p class="quotes">"Snoop Dog Playing The Widly Entertaining<br>'SOS' is Ridiculous."<br><span class="tanggal">Desember 24,2018</span></p>
          </div>
        </div>
      </div>      
    </div>

    <!-- Footer -->
    <div class="container-fluid">
      <div class="row footer">
        <div class="col">
          <img src="/img/stone.png" class="stone" alt="stone">
          <h3>Want to stay in<br>touch?</h3>
          <h1>NEWSLETTER<br>SUBSCRIBE</h1>
          <p class="keterangan">In order to start receiving our news, all you have to do is enter your email<br>address. Everything else will be taken care of by us. We will send you emails<br>containing information about game. We don’t spam.</p>
          <form class="form-inline">
            <div class="form-group mx-sm-3 mb-2">
              <input type="password" class="form-control" id="inputPassword2" placeholder="your email address">
            </div>
            <button type="submit" class="subscribe btn-primary mb-2">Subscribe now</button>
          </form>
          <footer class="sticky-footer">
            <ul>
              <li><a href="#">MAIN</a></li>
              <li><a href="#">ABOUT</a></li>
              <li><a href="#">GAME FEATURES</a></li><li>
              <li><a href="#">SYSTEM REQUIREMENTS</a></li>
              <li><a href="#">QUOTES</a></li>
            </ul>
          </footer>
          <div class="linefooter"></div>
          <div class="copyright">© 2018 Your Games, Inc. All Rights Reserved</div>
          <div class="privacypolicy">Privacy Policy | Terms of Services | Code of Conduct</div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    -->
  </body>
</html>