<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/match/list.css">

    <title>Daftar Match</title>
  </head>
  <body>
    <!-- Header -->
    <header id="header">
      <nav>
        <div class="container">
          <div class="text-center">
            <a href="/" class="nav-brand text-dark">Daftar Match</a>
          </div>
        </div>
      </nav>
    </header>

    <!-- Main Site -->
    <main id="site-main">
      <div class="container">
        <div class="box-nav d-flex-justify-between">
          <a href="/match/create" class="btn border-shadow user">
            <span class="text-gradient">New Match <i class="fas fa-gamepad"></i></span>
          </a>

          <a href="/users/list" class="btn border-shadow match" id="match">
            <span class="text-gradient">Users Table <i class="fas fa-user"></i></span>
          </a>

          <a href="/history/list" class="btn border-shadow history" id="history">
            <span class="text-gradient">History Table <i class="fas fa-history"></i></span>
          </a>
        </div>

        <!-- form handling -->
        <form action="/" method="POST">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th>ID</th>
                <th>Player 1 ID</th>
                <th>Player 2 ID</th>
                <th>Player 1 Hand</th>
                <th>Player 2 Hand</th>
                <th>Result</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% matches.forEach(match => { %>
              <tr>
                <td><%= match.id %></td>
                <td><%= match.player_1_id %></td>
                <td><%= match.player_2_id %></td>
                <td><%= match.player_1_hand %></td>
                <td><%= match.player_2_hand %></td>
                <td><%= match.result %></td>
                <td>
                  <a href="/match/view/<%= match.id %>" class="btn border-shadow detail">
                    <span class="text-gradient"><i class="fas fa-eye"></i></span>
                  </a>
                  <a href="/match/update/<%= match.id %>" class="btn border-shadow update">
                    <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
                  </a>
                  <a href="/match/delete/<%= match.id %>" class="btn border-shadow delete">
                    <span class="text-gradient"><i class="fas fa-trash-alt"></i></span>
                  </a>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </form>

      </div>
    </main>

  </body>
</html>