/* Mobile Version */

/* Header Background */
.navbar {
    position : absolute;
    left: 0%;
    right: 0%;
    top: -0.03%;
    bottom: 91.60%;
}

.navbar-toggler {
    background: #FFFFFF !important;
}

/* LOGO */
.navbar-brand {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 33px;
    /* idential to box height */
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF !important;
}

/* Menu */
.nav-link {
    background: rgba(0,0,0,0.5);

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF !important;
}

/* Bg Image 1 */
.jumbotron {
    background-image: url(../img/main-bg.jpg);
    background-size: cover;
    text-align: center;
    margin-bottom: auto;
}

/* h1 */
.display-4 {
    margin-top: 250px;

    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 83px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;

    color: #FFFFFF;
}

/* h3 */
.lead {
    margin-top: 57.28px;
    margin-bottom: 70px;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height */
    letter-spacing: 2px;

    color: #FFFFFF;
}

/* Button */
.btn {
    border: none;
    padding-top: 20px;

    width: 260.36px;
    height: 60px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    /* idential to box height */
    text-align: center;

    color: #1A1917;
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 4px;
}

.story {
    margin-left: 305px;
    margin-top: 300px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 22px;
    /* or 183% */

    text-align: justify;
    text-transform: uppercase;

    color: #FFFFFF;
}

.scrolldown {
    margin-top: 75px;
    margin-left: 340px;

    bottom: 20px;
    left: 50%;
    width: 20px;
    height: 20px;
    transform: translateY(-80px) translateX(-50%) rotate(45deg);
}

.scrolldown span {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
}

/* Game Choice */
.gamechoice {
    /* height: 100%; */
    height: 1051.43px;

    background-image: url(../img/the-games-bg.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
}

.gamechoice h3 {
    margin-top: 254.81px;
    margin-bottom: 13.56px;
    margin-left: auto;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;

    color: #FFFFFF;
}

.gamechoice h1 {
    margin-left: 79.55px;  

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.carousel-item {
    margin-top: 100px;
    margin-left: 50px;
    margin-bottom: 100px;
    width: 600px;
    height: 300px;
}

.carousel-control-prev {
    margin-left: -15px;
    margin-bottom: -100px;
}

.carousel-control-next {
    margin-right: -35px;
    margin-bottom: -100px;
}

.carousel-indicators {
    margin-right: 50px;
    margin-bottom: 105px;
}

.gamechoice2 {
    height: 870.26px;
    
    background-image: url(../img/Group.jpg);
    background-size: cover; 
    text-align: center;
}

.gamechoice2 h3 {
    margin-top: 169px;
    text-align: left;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    letter-spacing: 2px;

    color: #FFFFFF;
}

.gamechoice2 h1 {
    text-align: left;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.feature1 {
    margin-left: -300px;
    margin-top: 50px;
    text-align: left;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 2px;
    
    color: #FFB548;
}

.textfeature1 {
    margin-left: 50px;
    text-align: left;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */

    text-align: justify;

    color: #FFFFFF;
}

.feature2 {
    margin-left: 50px;
    text-align: left;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;

    color: #FFB548;
}

.feature3 {
    margin-left: 50px;
    text-align: left;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;

    color: #FFB548;
}

.ellipse1 {
    margin-top: -185px;
    text-align: left;
    background-color: white;
    width: 14px;
    height: 14px;
    border-radius: 50px;
}

.progressbar {
    text-align: left;
    margin-left: 5px;
    width: 2px;
    height: 90px;
    background-color: white;
}

.ellipse2 {
    text-align: left;
    fill: none;
    width: 14px;
    height: 14px;
    border-radius: 50px;
    border: 1.30637px solid #FFFFFF;
}

.ellipse3 {
    text-align: left;
    margin-top: 30px;
    fill: none;
    width: 14px;
    height: 14px;
    border-radius: 50px;
    border: 1.30637px solid #FFFFFF;
}

.gamerequirements {
    height: 960.16px;
    
    background-image: url(../img/requirements.png);
    background-size: cover;
    text-align: left;
}

.gamerequirements h3 {
    margin-left: 450px;
    padding-top: 140px;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 2px;

    color: #FFFFFF;
}

.gamerequirements h1 {
    margin-left: 150px;
    margin-top: -30px;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.table {
    margin-left: 70px;
    margin-top: 130px;
    width: 550px;
    height: 400px;
    border: 1px solid #979797;
}

.text1 {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */

    letter-spacing: 2px;

    color: #FFB548;
}

.text2 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */
    
    color: #FFFFFF; 
}

.topscores {
    height: 960.16px;
    
    background-image: url(../img/topscores.jpg);
    background-size: cover;
    text-align: center;
}

.topscores h1 {
    margin-top: 20px;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

.textscore {
    margin-bottom: 40px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */


    color: #FFFFFF;
}

.base {
    padding-top: 18px;
    padding-bottom: 20px;
    padding-right: 90px;
    padding-left: 90px;

    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 4px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;

    text-align: center;
    text-transform: lowercase;

    color: #1A1917;
}

.rectangle1 {
    margin-top: 50px;
    text-align: left;
    margin-left: 100px;

    width: 452.58px;
    height: 182.94px;

    left: 60.26%;
    right: 8.31%;
    top: 16.58%;
    bottom: 64.37%;
    
    background: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
}

.rectangle2 {
    margin-top: 50px;
    text-align: left;
    margin-left: 100px;

    width: 453.89px;
    height: 205px;

    left: 50.12%;
    right: 18.36%;
    top: 38.76%;
    bottom: 39.89%;

    background: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
}

.rectangle3 {
    margin-top: 50px;
    text-align: left;
    margin-left: 100px;

    width: 453.89px;
    height: 205px;
    
    left: 57.46%;
    right: 11.02%;
    top: 63.23%;
    bottom: 15.41%;

    background: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
}

.photo {
    width: 65px;
    clip-path: circle();
    margin-top: 5px;
    margin-left: 5px;
}

.nama {
    margin-left: 100px;
    margin-top: -60px;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */

    letter-spacing: 2px;

    color: #FFB548;
}

.profesi {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */

    text-align: justify;

    color: #FFFFFF;

    opacity: 0.5;
}

.quotes {
    margin-top: 30px;
    margin-left: 16.79px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;

    color: #FFFFFF;
}

.tanggal {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;

    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.5;
}

.footer {
    height: 959.87px;
    
    background-image: url(../img/footer.jpg);
    background-size: cover; 
    text-align: left;
}

.footer h3 {
    text-align: center;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */

    letter-spacing: 2px;

    color: #FFFFFF;
}

.footer h1 {
    text-align: center;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 92px;
    letter-spacing: 3px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.keterangan {
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */

    color: #FFFFFF;
}

.stone {
    margin-top: 72.31px;
    margin-left: 240px;

    width: 200px;
    height: 300px;
}

.form-inline {
    text-align: center;
}

.form-group .form-control {
    width: 366.92px;
    height: 60px;
    border: none;
    margin-top: 20px;

    background: rgba(255, 255, 255, 0.08);
    border-radius: 5px;
}

.subscribe {
    width: 260px;
    height: 60.25px;
    border: none;
    margin-top: 20px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;
    text-transform: capitalize;

    color: #1A1917;

    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 4px;
}

footer{
    margin-left: -90px;
    margin-top: -50px;
    width: 100%;
    display: grid;
    place-items: center;
    padding: 2em; 
    font-size: 1.2rem;
}

footer ul{
    list-style: none;
    display: flex;
    margin: 1em 0; 
}
footer ul li a{
    padding: 3em; 
    text-decoration: none;
    transition: 100ms;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;
}
footer ul li a:hover{
    color: var(--primary);
}

.linefooter {
    /* margin-left: 120.22px; */
    margin-top: -30px;
    width: 650px;
    height: 2px;
    background-color: white;
}

.copyright {
    margin-top: 22px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;

    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.5;
}

.privacypolicy {
    margin-top: -22px;
    text-align: right;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;
}

/* Desktop Version */

@media (min-width: 992px) {
    /* Header Background */
    .navbar {
        position : absolute;
        left: 0%;
        right: 0%;
        top: -0.03%;
        bottom: 90.66%;

        background: rgba(0,0,0,0.5);
    }

    /* LOGO */
    .navbar-brand {
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 33px;
        /* idential to box height */
        letter-spacing: 0.1em;
        text-transform: uppercase;

        color: #FFFFFF !important;
    }

    /* Menu */
    .nav-link {
        margin-right: 30px;
        background: rgba(0,0,0,0);

        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        text-align: right;
        letter-spacing: 0.1em;
        text-transform: uppercase;

        color: #FFFFFF !important;
    }

    /* Bg Image 1 */
    .jumbotron {
        text-align: center;

        width: 1441.55px;
        height: 960.14px;
        left: -1.55px;
        top: 0.11px;
    }

    /* h1 */
    .display-4 {
        margin-top: 250px;

        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 72px;
        line-height: 83px;
        letter-spacing: 3px;
        text-transform: uppercase;

        color: #FFFFFF;
    }

    /* h3 */
    .lead {
        margin-top: 57.28px;
        margin-bottom: 50px;

        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        /* identical to box height */
        letter-spacing: 2px;

        color: #FFFFFF;
    }

    /* Button */
    .btn {
        border: none;
        padding-top: 20px;

        width: 260.36px;
        height: 60px;

        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        /* idential to box height */
        text-align: center;

        color: #1A1917;
        background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
        border-radius: 4px;
    }

    .story {
        margin-left: 666px;
        margin-top: 280px;
    
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 22px;
        /* or 183% */
    
        text-align: justify;
        text-transform: uppercase;
    
        color: #FFFFFF;
    }
    
    .scrolldown {
        margin-top: 75px;
        margin-left: 700px;
    
        bottom: 20px;
        left: 50%;
        width: 20px;
        height: 20px;
        transform: translateY(-80px) translateX(-50%) rotate(45deg);
    }
    
    .scrolldown span {
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        border-bottom: 2px solid #fff;
        border-right: 2px solid #fff;
    }

    .gamechoice {
        width: 1441.62px;
        height: 1051.43px;
    
        text-align: center;
    }

    .gamechoice h3 {
        margin-top: 254.81px;
        margin-bottom: 13.56px;
        margin-left: auto;
    }
    
    .gamechoice h1 {
        margin-left: 79.55px;  
    }

    .carousel-item {
        margin-top: 292.4px;
        margin-right: 129.07px;
        width: 800px;
        height: 400px;
    }
    
    .carousel-control-prev {
        margin-left: -40px;
        margin-bottom: -150px;
    }
    
    .carousel-control-next {
        margin-right: 40px;
        margin-bottom: -150px;
    }
    
    .carousel-indicators {
        margin-right: 200px;
    }

    .gamechoice2 {
        width: 1441.62px;
        height: 870.26px;
        
        background-size: cover; 
    }
    
    .gamechoice2 h3 {
        margin-left: 800px;
        margin-top: 169px;
        margin-bottom: 8.71px;
    }
    
    .gamechoice2 h1 {
        margin-left: 796.26px;
    }

    .feature1 {
        margin-left: 550px;
        margin-top: 150px;
    
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        letter-spacing: 2px;
        
        color: #FFB548;
    }
    
    .textfeature1 {
        margin-left: 842.34px;
        margin-top: 5.27px;
    
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        /* or 122% */
    
        text-align: justify;
    
        color: #FFFFFF;
    }
    
    .feature2 {
        margin-left: 841.66px;
        margin-top: 100px;
    
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 2px;
    
        color: #FFB548;
    }
    
    .feature3 {
        margin-left: 841.66px;
        margin-top: 36.71px;
    
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 2px;
    
        color: #FFB548;
    }
    
    .ellipse1 {
        margin-left: 800px;
        margin-top: -290px;
        background-color: white;
        width: 14px;
        height: 14px;
        border-radius: 50px;
    }
    
    .progressbar {
        margin-left: 805px;
        width: 2px;
        height: 175px;
        background-color: white;
    }
    
    .ellipse2 {
        margin-left: 800px;
        fill: none;
        width: 14px;
        height: 14px;
        border-radius: 50px;
        border: 1.30637px solid #FFFFFF;
    }
    
    .ellipse3 {
        margin-left: 800px;
        margin-top: 50px;
        fill: none;
        width: 14px;
        height: 14px;
        border-radius: 50px;
        border: 1.30637px solid #FFFFFF;
    }

    .gamerequirements {
        width: 1441.58px;
        height: 960.16px;
        margin-left: -15px;
        margin-top: -1px;
    }
    
    .gamerequirements h3 {
        margin-left: 567.82px;
        padding-top: 140px;
    }
    
    .gamerequirements h1 {
        margin-left: 150px;
        margin-top: -30px;
    }
    
    .table {
        margin-left: 150px;
        margin-right: 500px;
        margin-top: 130px;
        width: 550px;
        height: 400px;
    }

    .topscores {
        position: absolute;
        margin-left: -15px;
        width: 1441.58px;
        height: 960.16px;
        text-align: left;
    }
    
    .topscores h1 {
        margin-left: 118.97px;
        margin-top: 340.06px;
    }
    
    .textscore {
        margin-left: 121.58px;
        margin-bottom: 40px;
    }
    
    .base {
        margin-left: 118.58px;
        padding-top: 18px;
        padding-bottom: 20px;
        padding-right: 90px;
        padding-left: 90px;
    }
    
    .rectangle1 {
        margin-left: 850px;
        margin-top: -350px;
    }
    
    .rectangle2 {
        margin-left: 750px;
        margin-top: 50px;
    }
    
    .rectangle3 {
        margin-left: 800px;
        margin-top: 50px;  
    }
    
    .nama {
        margin-left: 100px;
        margin-top: -60px;
    }

    .footer {
        position: absolute;
        margin-top: 960px;
        margin-left: -15px;
        width: 1441.58px;
        height: 959.87px;
        text-align: left;
    }
    
    .footer h3 {
        text-align: left;
        margin-left: 675.92px;
        margin-top: -500px;
    }
    
    .footer h1 {
        text-align: left;
        margin-left: 675.92px;
        font-size: 80px;
    }
    
    .keterangan {
        text-align: left;
        margin-left: 675.92px;
    }
    
    .stone {
        margin-top: 72.31px;
        margin-left: 193px;
    
        width: 412.35px;
        height: 655.6px;
    }
    
    .form-inline {
        margin-left: 660px;
    }
    
    .form-group .form-control {
        width: 366.92px;
        height: 60px;
        border: none;
        margin-top: 40px;
    }
    
    .subscribe {
        width: 260px;
        height: 60.25px;
        border: none;
        margin-top: 40px;
    }
    
    footer{
        width: 100%;
        display: grid;
        place-items: center;
        padding: 2em; 
        font-size: 1.2rem;
        margin-top: 100px;
    }
    
    footer ul{
        list-style: none;
        display: flex;
        margin: 1em 0; 
    }
    footer ul li a{
        padding: 3em; 
        text-decoration: none;
        transition: 100ms;
    }
    footer ul li a:hover{
        color: var(--primary);
    }
    
    .linefooter {
        margin-left: 120.22px;
        margin-top: -30px;
        width: 1197.82px;
        height: 2px;
        background-color: white;
    }
    
    .copyright {
        margin-top: 22px;
        margin-left: 120.22px;
    }
    
    .privacypolicy {
        margin-top: -22px;
        margin-left: 895px;
        text-align: left;
    
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
    
        color: #FFFFFF;
    }    
}