<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/users/view.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

    <title>Detail Users</title>
</head>
<body>
    <div class="center">
      <div class ="content">
        <div class="header">
          <h2>Detail User</h2>
        </div>
        
          <table>
            <tr>
              <td><strong>ID</strong></td>
              <td><strong>:</strong></td>
              <td><%= user.id %></td>
            </tr>
            <tr>
              <td><strong>Nama</strong></td>
              <td><strong>:</strong></td>
              <td><%= user.name %></td>
            </tr>
            <tr>
              <td><strong>Username</strong></td>
              <td><strong>:</strong></td>
              <td><%= user.username %></td>
            </tr>
            <tr>
              <td><strong>Email</strong></td>
              <td><strong>:</strong></td>
              <td><%= user.email %></td>
            </tr>
            <tr>
              <td><strong>Password</strong></td>
              <td><strong>:</strong></td>
              <td><%= user.password %></td>
            </tr>
            <tr>
              <td><strong>Address</strong></td>
              <td><strong>:</strong></td>
              <td><%= user.address %></td>
            </tr>
          </table>

          <div class="line"></div>
          <a href="/users/list"><label for="click" class="close-btn">Kembali ke daftar users</label></a>
        </div>
      </div>
    </div>
</body>
</html>